.layout-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

/* .layout-trigger:hover {
  color: @primary-color;
} */

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.layout-header {
  background: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  box-shadow: rgba(12, 52, 75, 0.05) 0px 3px 3px;
}

.layout-content {
  margin: 24px 16px 0;
  min-height: calc(100vh - 80px);
}
